body {
    font-size: 16px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

div {
    background: #558599;
    height: 500px; width: 500px;
    border: 2px solid red;
}

span {
    border: 5px dashed blue;
}

p{
    background: #92b7c0;
    font-size: 2em;
    height: 200px; width: 75%;
}
span {
    background: #c6d8e2;
    font-size: 2em; width: 100px;
}

p2 {
    size: 100px;
    align-items: center;
}